DATABASE_URL="postgresql://postgres:postgres@localhost:5432/vibe_search?schema=public"
REDIS_URL="redis://localhost:6379"
INSTAGRAM_USERNAME="scrapper.buddy.for.test"
INSTAGRAM_PASSWORD="aakashr1213"
NODE_ENV="development"